* {
	font-family: sans-serif;
}

body {
	margin: 0 0 0 0;
}

.header {
	height: 80px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: rgba(227,229,232,.3);
	text-align: center;
}

figure {
	text-align: center;
	background-color: rgba(227,229,232,.3);
	max-width: 45%;
	padding: 9 9 9 9;
}

img {
	margin: 5 5 5 5;
	max-width: 95%;
	border: 1px solid black;
}